.link {
    color: #448aff;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

p {
    font-size: 16px !important;
}